<a href="{{ product.url }}" class="featured__product--block swiper-slide">
    <div class="featured__productImage--wrapper">
        <img class="featured__product--image" src="{{ product.featured_media | image_url }}" alt="">
    </div>
    <div class="featured__product--content">
        <h3 class="featured__product--title">{{ product.title }}</h3>
        {% comment %} <p>Code - Y523201</p> {% endcomment %}
        <p class="featured__product--money">{{ product.price | money }}</p>
    </div>
</a>

<style>
    .featured__productImage--wrapper{
        background-color: #F6F7FB;
        padding: 40px 20px;
        height: 130px;
    }
    .featured__product--image{
        max-width: 100%;
        max-height: 100%;
    }
    .featured__product--title{
        color: var(--color-secondary-color);
        margin: 0;
    }
    .featured__product--money{
        margin: 0;
    }
    .featured__product--block{
        text-decoration: none;
        color: var(--color-midnight-color);
        text-align: center;
        height: 90%;
    }
    .featured__product--content{
        background-color: #fff;
        padding: 15px 0;
    }
</style>