@import url('https://fonts.googleapis.com/css?family=Montserrat');

.accordion__wrapper{
    font-family: 'Montserrat', sans-serif;
    background-color: #34495e;
    color: #fff;
    padding: 40px 0;
}

.accordion__title {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
expended-accordion {
  display: block;
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.active .accordion-item-header::after {
  content: "\2212";
} 
.accordion-item-body {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.3s ease-in-out;
}
.accordion__button{
  display: flex;
  margin: 0 auto;
}
.active .accordion-item-body{
    grid-template-rows: 1fr;
}
.accordion-item-body-content {
  min-height: 0;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}
.accordion-item-body-content div{
    padding: 1rem;
}
#loader{
  display: none;
  height: 50px;
  margin: 0 auto;
  justify-content: center;
}