li{
    list-style: none;
}
a{
    text-decoration: none;
}
.footer{
    background-color: #EEEFFB;
    padding: 60px 0;
    font-size: 16px;
}
.footer__top{
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
}
.footer__news--wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-text-color);
    padding: 3px;
    height: 44px;
    border-radius: 3px;
}
@media (min-width: 760px){
    .footer__top{
        flex-direction: row;
        justify-content: space-between;
        row-gap: 60px;
        column-gap: 40px;
    }
    .footer__column--text{
        width: 100%;
    }
}
@media (min-width: 1040px){
    .footer__column--text{
        width: auto;
    }
    .footer__column--text,
    .footer__column--news{
        max-width: 320px;
    }
}
.footer__column h2{
    font-size: 22px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-weight: 700;
}
.footer__column--news--title{
    color: var(--color-dark-color);
    font-size: 38px !important;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 44px;
    margin-top: 12px;
}
.footer__column p,
.footer__column a{
    color: var(--color-light-color);
}
.footer__column a:hover{
    color: #767aa3;
}
.footer__column li + li{
    margin-top: 10px;
}
.footer__column a{
    transition: 0.2s color;
}
.footer__column.footer__column--news form{
    margin-top: 20px;
}
.footer__column.footer__column--news input,
.footer__column.footer__column--news button{
    appearance: none;
    outline: none;
    line-height: 18px;
}
.footer__column.footer__column--news input{
    display: block;
    border: none;
    padding-left: 10px;
    box-shadow: none;
}
.footer__column.footer__column--news button{
    appearance: none;
    display: inline-block;
    background: var(--color-secondary-color);
    border: 1px solid var(--color-secondary-color);
    color: var(--color-text-color);
    padding: 8px 34px;
    border-radius: 3px;
    // margin-top: 10px;
    transition: 0.2s color, 0.2s background-color, 0.2s border-color;
}
.footer__column.footer__column--news button:hover{
    background-color: #f81d7c;
    border-color: #f81d7c;
    cursor: pointer;
}
.footer__column--news--message{
    font-size: 12px;
    margin-bottom: 10px;
}

.footer__bottom{
    background-color: #E7E4F8;
    color: #9DA0AE;
    font-weight: 600;
}
.footer__bottom--wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer__bottom--socials{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__bottom--socials a span{
    background-color: var(--color-midnight-color);
    border-radius: 50%;
    padding: 5px;
}

@media (max-width: 540px){
    .footer__bottom--wrapper{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 15px;
    }
}


// .footer-bottom{
//     margin-top: 60px;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     flex-wrap: wrap;
// }
// .footer-copyright{
//     color: #666
// }
// .footer-cards{
//     display: inline-flex;
//     align-items: center;
//     flex-wrap: wrap;
//     gap: 10px;
// }